@import url("https://fonts.googleapis.com/css?family=Dosis:300");
.body {
  background-image: url('https://i.postimg.cc/6qtLCtkL/duy-pham-Cecb0-8-Hx-o-unsplash.jpg');
  background-size: cover;
  /* background-image: linear-gradient(140deg, #db6241 0%, #663399 100%); */
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1.3px; 
}

.two-buttons {
  margin-top: -120px;
}

.first-button {
  font-size: 19px;
  /* padding: 16px 46px; */
  margin-left: 95px;
  margin-top: 15px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.65);
  border: none;
  cursor: pointer;
  outline: none;
  background: #2d2d2d7e;
  color: rgb(255, 255, 255);
  transition: 0.2s ease-in-out;
  width: 200px;
  max-width: 100%;
  height: 50px;
  max-width: 100%;

}

.first-button:hover {
  color: rgb(0, 0, 0);
  background: #fbfbfb8b;
}

@media screen and (max-width: 620px) {
  .first-button {
    margin-top: 10px;
    margin-bottom: -20px; 
  } 
}
