.btn {
  background-color: #00000051;
  text-decoration: none;
  text-align: center;
  color: #00000085;
  height: 25px;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  margin-bottom:5px;
  margin-left: 15px;
}

.btn:hover {
  color: rgba(135, 135, 135, 0.613);
  background: rgba(255, 255, 255, 0.428);
}
