.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #2d2d2d7e;
  width: 1150px;
  border-radius: 25px;
  margin-top: 15px;
}

.nav-link {
  text-decoration: none;
  text-align: center;
  color: #8d34d6;
  margin-left: 25px;
  float: left;
  padding: 10px 16px;
  font-weight: 900;
  font-family: inherit;
  font-size: 150%;
  letter-spacing: 0.06em;
  font-family: 'Dosis', sans-serif;
}

.nav-link:hover {
  text-shadow: 0 0 10px #228DFF, 0 0 20px #228DFF, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

