@import url("https://fonts.googleapis.com/css?family=Dosis:300");
.body {
  background-image: url("https://i.postimg.cc/6qtLCtkL/duy-pham-Cecb0-8-Hx-o-unsplash.jpg");
  background-size: cover;
  /* background-image: linear-gradient(140deg, #db6241 0%, #663399 100%); */
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Signup {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 300px;
  margin: 1em;
  color: white;
}

.input-container {
  position: relative;
  margin-bottom: 0px;
  width: 300px;
  margin: 0.3em;
  border: none;
  outline: none;
  padding: 0.4em 1em;
  background-color: #0000000b;
  color: none;
  font-family: inherit;
  font-size: 105%;
  letter-spacing: 0.06em;
  font-family: "Dosis", sans-serif;
}

.input {
  background-color: #9797975b;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.3px;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #626571;
  color: #ccced3;
  padding: 19px 6px 12px 36px;
  font-size: 19px;
  outline: none;
  caret-color: #e55b8d;
  font-family: "Dosis", sans-serif;
  height: 60px;
}

.input:focus {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(140deg, #db6241 0%, #e55b8d 100%);
  border-image-slice: 1;
  color: #ccced3;
}

.button {
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.3px;
}

.login-button {
  font-size: 19px;
  padding: 16px 46px;
  margin-left: 95px;
  margin-top: 15px;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.65);
  border: none;
  cursor: pointer;
  outline: none;
  background: #9797975b;
  color: rgb(191, 191, 191);
  transition: 0.2s ease-in-out;
}

.login-button:hover {
  color: rgb(0, 0, 0);
  background: #ffffff;
}

@media screen and (max-width: 620px) {
  .Signup {
    min-height: 300px;
    max-height: 420px;
    width: 90vw;
  }
  .input-container {
    width: 80%;
    margin-bottom: 40px;
  }
  .login-button {
    margin-top: 10px;
    margin-bottom: -20px;
  }
}

.input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.error {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 40px 0;
}
